.pan-verification-card {
    min-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #0dd46a;
    color: black;
  }
  
  .pan-input {
    width: 100%;
    margin-bottom: 20px;
  }
  /* :host ::ng-deep .pan-input-field {
    border-width: 2px !important;
    border-color: black !important;
    border-radius: 5px;
    padding: 10px;
  } */
  
  .pan-input-field:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default focus outline */
  }
  
  .verify-button {
    width: 100%;
  }
 

