.example-tab-icon {
    margin-right: 15px; 
    transform: scale(1.3);
  }


::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  color: black;
  opacity: 1; 
  border: 2px solid var(--theme);
  border-bottom: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
 
  /* border-radius: 10px; */
}
:host ::ng-deep .mat-card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff !important;
    padding: 20px;
  }
  

::ng-deep.mat-tab-label{
  border-bottom: 2px solid var(--theme);
}
::ng-deep .mat-tab-header {
  border-bottom: none;
}
.mat-tab-group {
  border-bottom: none ;
}

  ::ng-deep .mat-tab-body-wrapper{margin: 20px;}



  .mat-grid-tile{
    cursor: pointer;
}
.mat-grid-tile:hover{
    transform: scale(0.9);
}
a:hover{
    cursor: pointer;
    transform: scale(1.2);
    color: #4B49AC;
}

