<mat-card fxHide.xs="hide" class="login-otp" style="width: max-content;background-color: white;" >
    <mat-card-title
        style="padding: 10px;align-content: flex-start;color: white;background-color: #29B13A;">
        <div fxLayout="row" fxLayoutAlign="space-between">
            <span style="margin-left: 10px;margin-right: 100px;">FAQ'S</span>

            <a (click)="close()">
                <mat-icon>close</mat-icon>
            </a>
        </div>

    </mat-card-title>
    <mat-card-content style="margin-top: 10px; padding: 20px;">
        <div class="table-container">
          <mat-table #table [dataSource]="modalData" class="elegant-table">
      
            <!-- Key Column Definition -->
            <ng-container matColumnDef="key">
              <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
              <mat-cell *matCellDef="let element" style="font-weight: 450;"> {{element.key}} </mat-cell>
            </ng-container>
      
            <!-- Value Column Definition -->
            <ng-container matColumnDef="value">
              <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
            </ng-container>
      
            <mat-header-row *matHeaderRowDef="['key', 'value']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['key', 'value'];"></mat-row>
          </mat-table>
        </div>
      
        <mat-divider style="margin-top: 20px;"></mat-divider>
      </mat-card-content>
      
      
      
      
    <mat-card-actions style="margin-top: -26px;">
        <div fxLayout="row"  fxLayoutAlign="end" >

            <button mat-raised-button (click)="close()"  color="warn">Close</button>

        </div>

       
    </mat-card-actions>
</mat-card>
